footer.m_footer
  .wrapper
    .menu
      .column
        .collapse-list
          span Рецепты
        ul
          li.lead-item
            a(href="#") Рецепты
          li: a(href="#") Телятина
          li: a(href="#") Курица
          li: a(href="#") Свинина
          li: a(href="#") Грибы
          li: a(href="#") Макаронные изделия
      .column
        .collapse-list
          span Продукты
        ul
          li.lead-item
            a(href="#") Продукты
          li: a(href="#") Перец, соль
          li: a(href="#") Традиционные специи
          li: a(href="#") Курица
          li: a(href="#") Свинина
          li: a(href="#") Грибы
          li: a(href="#") Макаронные изделия
      .column
        .collapse-list
          span Наши секреты
        ul
          li.lead-item
            a(href="#") Наши секреты
          li: a(href="#") Приправы
          li: a(href="#") Любопытные факты
          li: a(href="#") Кухни мира
          li: a(href="#") Новости
      .column
        .collapse-list
          span Компания
        ul
          li.lead-item
            a(href="#") Компания
          li: a(href="#") Контакты
          li: a(href="#") Обратная связь
          li: a(href="#") О компании
          li: a(href="#") Качество
          li: a(href="#") Карьера
    .social-buttons
      a(class="vk" href="#")
      a(class="in" href="#")
      a(class="ok" href="#")