extends _layout

block settings
  - var title = 'Блог - внутренняя';
  - var user_authorised = false;

block content
  .page-headling
    .image(style="background-image: url('images/content/bg-1.png')")
    .text
      .helper
        h2 Базилик
        p Приправы
  .m_blog-inner
    article
      h1 Историческая справка
      p В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим. В Индии базилик был известен как любимое растение бога Вишну. Люди верили в то, что употребление его листьев охраняет от укусов ужей и скорпионов. Венки из базилика были найдены даже в египетских пирамидах.
      p В Европу его привезли солдаты Александра Великого в VI веке н.э., возвращавшиеся из Азии. С той поры, хоть и медленно, но он распространялся в странах Средиземноморья, а со временем стал известен на весь мир. Древние римляне применяли базилик, в первую очередь, как лекарственное растение и украшение стола, постепенно открывая его качества приправы.
      p В кулинарных книгах базилик занял свое место только в XVIII веке благодаря французским поварам. Они нашли в этом растении больше вкусовых качеств, нежели магических. Базилик знают и ценят во всем мире, особенно в Италии, Испании, Греции, Грузии и Франции.
      h1 Кулинария
      p В кулинарии можно использовать как свежие, так и сушеные листья базилика. Обычно его сушат в хорошо проветриваемых помещениях при температуре   30-35°С. Высушенное таким образом растение измельчают и добавляют в пищу. Эта приправа идеально дополняет как мясные и рыбные блюда, так и блюда из овощей. Базилик добавляют в фарш, паштеты, колбасу, приправляют им говядину, баранину и печень. Измельченный, oн придает блюдам кисло-сладкий привкус.
      p Для получения разнообразных приправ базилик также смешивают с другими травами и овощами: эстрагоном, шалфеем, чесноком и луком; смесь базилика и розмарина является заменителем соли при бессолевой диете (эту приправу добавляют как к салатам, так и к помидорам, просто порезанным кружочками).
      p В средневековье в придворной кулинарии этой душистой приправой сдабривали блюда, куда входили помидоры. Невероятно вкусным был помидорный хлеб, посыпанный базиликом и политый оливковым маслом. Очень хорошо базилик сочетается с огурцами, фасолью, горохом и кабачками цуккини, его также считают прекрасной приправой к рисовым салатам и различным запеканкам.
      p Традиционная русская яичница, также как творог и йогурт, благодаря щепотке базилика приобретают экзотический вкус. Широкий круг применения в кулинарии имеют листья свежего базилика: ими посыпают овощные салаты, в состав которых входят помидоры, а также мясные блюда, подчеркивая их оригинальный вкус.
      p Свежие листья базилика можно залить теплым винным уксусом, настоять в закрытой банке в течение двух недель, и получится прекрасный базиликовый уксус. Добавив этот уксус в маринад, соус или салат, Вы получите блюдо с приятным запахом и слегка сладковатым привкусом корней. Прекрасным дополнением к соусам и салатам из сырых овощей будет базиликовое масло. Чтобы его приготовить, нужно залить свежие листья этого растения подсолнечным маслом.
      p Базилик можно хранить в глиняной или фарфоровой посуде, засыпав его слоем соли. Для сохранения восхитительного аромата растения любители приправ используют следующий способ: в фарфоровой посуде свежие листья толкут с оливковым маслом. Полученное масло добавляют в кушанье непосредственно перед подачей на стол.
    .share-post
      h2 Понравилась статья?&nbsp;<br>Расскажите о ней друзьям!
      .like-counter
        button 2356
      .social-buttons
        a(class="vk" href="#")
        a(class="in" href="#")
        a(class="ok" href="#")
  .m_similar-items
    .section-title
      h2 Рекомендуем почитать
    .m_blog
      each item in blog_similar_items
        .item
          .image(style="background-image: url("+item.image+")"): a(href="#")
          .bottom
            .title: a(href="#") #{item.title}
            .desc #{item.desc}
  include ../modules/rss-form/m_rss-form