extends _layout

block settings
  - var title = 'Обратная связь';
  - var user_authorised = false;

block content
  .m_lead-nav
    ul
      li: a(href="#") Контакты
      li: a(class="current" href="#") Обратная связь
      li: a(href="#") О компании
      li: a(href="#") Качество
      li: a(href="#") Карьера
  .m_faq
    .section-title
      h2 Часто задаваемые вопросы
    .list
      .item
        .headling Подскажите, насколько Ваша продукция натуральная?
        .body Специи, приправы, травы и другая продукция Kamis производится из 100% натурального сырья. Более того, в 2011 году из большинства наименований был выведен глутамат натрия, и теперь 95% нашей продукции не содержат усилитель вкуса и аромата.
      .item
        .headling Где находится Ваше производство?
        .body Специи, приправы, травы и другая продукция Kamis производится из 100% натурального сырья. Более того, в 2011 году из большинства наименований был выведен глутамат натрия, и теперь 95% нашей продукции не содержат усилитель вкуса и аромата.
      .item
        .headling Откуда Вы привозите специи?
        .body Специи, приправы, травы и другая продукция Kamis производится из 100% натурального сырья. Более того, в 2011 году из большинства наименований был выведен глутамат натрия, и теперь 95% нашей продукции не содержат усилитель вкуса и аромата.
      .item
        .headling Чем Kamis отличается от конкурентов?
        .body Специи, приправы, травы и другая продукция Kamis производится из 100% натурального сырья. Более того, в 2011 году из большинства наименований был выведен глутамат натрия, и теперь 95% нашей продукции не содержат усилитель вкуса и аромата.
      .item
        .headling Где можно купить Ваши специи?
        .body Специи, приправы, травы и другая продукция Kamis производится из 100% натурального сырья. Более того, в 2011 году из большинства наименований был выведен глутамат натрия, и теперь 95% нашей продукции не содержат усилитель вкуса и аромата.
      .item
        .headling Можно ли купить Вашу продукцию со скидкой?
        .body Специи, приправы, травы и другая продукция Kamis производится из 100% натурального сырья. Более того, в 2011 году из большинства наименований был выведен глутамат натрия, и теперь 95% нашей продукции не содержат усилитель вкуса и аромата.
      .item
        .headling Какой срок годности Вашей продукции?
        .body Специи, приправы, травы и другая продукция Kamis производится из 100% натурального сырья. Более того, в 2011 году из большинства наименований был выведен глутамат натрия, и теперь 95% нашей продукции не содержат усилитель вкуса и аромата.
      .item
        .headling Как к Вам можно устроиться работать?
        .body Специи, приправы, травы и другая продукция Kamis производится из 100% натурального сырья. Более того, в 2011 году из большинства наименований был выведен глутамат натрия, и теперь 95% нашей продукции не содержат усилитель вкуса и аромата.
      .item
        .headling Куда обращаться, если у меня есть жалоба?
        .body Специи, приправы, травы и другая продукция Kamis производится из 100% натурального сырья. Более того, в 2011 году из большинства наименований был выведен глутамат натрия, и теперь 95% нашей продукции не содержат усилитель вкуса и аромата.
  .m_feedback-form
    .form-title
      h2 Напишите нам
      p Если Вы не нашли ответа на свой вопрос - задайте его нам, мы с уовольствием на него ответим.
    form
      .form-row
        .form-column
          input(type="text" placeholder="Ваше имя")
        .form-column
          input(type="email" placeholder="Ваш e-mail")
      .form-row
        textarea(placeholder="Ваш вопрос")
      .form-row
        button(class="btn" type="submit") Отправить
  include ../modules/rss-form/m_rss-form