extends _layout

block settings
  - var title = 'Продукты - категория';
  - var user_authorised = false;

block content
  .page-headling
    .image(style="background-image: url('images/content/bg-5.png')")
    .text
      .helper
        h2 панировка
        p Любимая с детства хрустящая золотистая корочка
  .m_category-description
    .category-icon
      img(src="images/category-icon-2.png" alt="")
    article
      p Благодаря своему нежному мясу телятина является деликатесом и пользуется немалым спросом. Это не только вкусный, но еще и диетический продукт - нежирный и не очень сытный, а его приготовление требует специальных навыков.
      p Так как в телятине почти отсутствует жир, готовить ее необходимо в какой-то жидкости: к примеру, тушить в соусе, постоянно поливать соком или запекать на решетке, размещенной над противнем с водой. Приготовить это нежнейшее мясо на отлично под силу только опытному кулинару.
      p Ведь если телятину немного недожарить, то она останется полусырой, а если хоть чуть пережарить, то она станет жесткой и твердой, словно подошва. К тому же не рекомендуется готовить телятину с кровью, поскольку с недожаренного куска будет вытекать смесь молока и светло-розового сока, имеющая неприятный вкус и к тому же не совсем безопасная для здоровья.
  .m_lead-news
    .list
      .item
        .image
          a(href="#")
            img(src="images/content/product-3.png" alt="")
        .title: a(href="#") Золотая рыбка в панировке
      .item
        .image
          a(href="#")
            img(src="images/content/product-3.png" alt="")
        .title: a(href="#") Золотая рыбка в панировке
      .item
        .image
          a(href="#")
            img(src="images/content/product-3.png" alt="")
        .title: a(href="#") Золотая рыбка в панировке
  include ../modules/rss-form/m_rss-form