header(class=user_authorised?"m_header authorised":'m_header')
  .wrapper
    .logo
      a(href="#")
    .btn-search-mobile
      span
    .search
      form
        input(type="text" placeholder="ПОИСК")
        button(type="submit")
    .menu
      nav
        .menu-mobile
          .btn-mobile-menu: i
        ul
          li: a(href="#") Рецепты
          li: a(href="#") Продукты
          li: a(href="#") Наши секреты